<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809005974921-viafkih2vsfqjqo6ahikn4so3ch9cquo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809005974921-viafkih2vsfqjqo6ahikn4so3ch9cquo</string>
	<key>API_KEY</key>
	<string>AIzaSyCODesesLZFBUn96mcuSD-msmAlabOYa0M</string>
	<key>GCM_SENDER_ID</key>
	<string>809005974921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diegonunez.ChatRoom</string>
	<key>PROJECT_ID</key>
	<string>chatroomswiftui-ae3f0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatroomswiftui-ae3f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809005974921:ios:18aa1bcf4480b8b55acd58</string>
</dict>
</plist>